@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --base: ##f2f3f7;
  --gris_oscuro: #848484;
  --fuentePrincipal:'Padauk', sans-serif;
}   

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-decoration: none;
  font-size: 16px;
  background-color:var(--base);
}

a, p {
  font-family: var(--fuentePrincipal);
  color: black !important;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
